/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/*--------------------------------*/


.title {
    width: 133px;
    height: 25px;
    position: absolute;
    top: 40px;
    left: 77px;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-align: left;
    font-family: Inconsolata, sans-serif;
    color: #333333;
    
}

img {
    width: 539.2236938476562px;
    height: 447.4263916015625px;
    position: absolute;
    top: 265px;
    left: 77px;
}

.desc_title {
    height: 190px;
    width: 586px;
    font-family: "Space Mono", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 95px;
    letter-spacing: -0.035em;
    text-align: left;
    position: absolute;
    top: 265px;
    left: 735px;
    color: #333333;
}

.desc {
    width: 381px;
    height: 108px;
    position: absolute;
    top: 491px;
    left: 736px;
    font-family: "Space Mono", sans-serif;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    text-align: left;
    color: #4f4f4f;
}

button {
    width: 216px;
    height: 68px;
    position: absolute;
    top: 663px;
    left: 740px;
    background: #333333;
    border: none;    
    
}

button:hover {
    cursor: pointer;
}

button p {
    width: 130px;
    height: 21px;
    font-family: "Space Mono", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-align: left;
    color: #FFFFFF;
    margin: auto;
}

footer p {    
    height: 17px;
    position: absolute;
    top: 1039px;
    left: 577px;

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    padding-bottom: 40px;
    color: #bebdbd;
    text-align: center;
    line-height: 17px;
    letter-spacing: 0em;
}

footer p > *:first-child {
    font-weight: 700;
    text-decoration: underline;
}

footer p > *:nth-child(2) {
    font-weight: 500;
}

footer p > *:last-child {
    font-weight: 600;
}

footer p a {
    text-decoration: none;
    color: #bebdbd;
}

/* media queries */
@media screen and (max-width: 768px) {
    .title, 
    img,
    .desc_title,
    .desc,
    button,
    footer p  {
        
        position: unset;
    }
    main {
        display: flex;
        width: 100%;
        flex-flow: column wrap;
        justify-content: center;
        padding: 44px;
        
    }

    .title {
        margin-bottom: 100px;
    }

    img {
        width: 286.829833984375px;
        height: 238.00001525878906px;        
        margin: auto;
        margin-bottom: 70px;
    }

    .desc_title {
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
    }

    .desc {
        width: 100%;
        height: 100%;
        margin-bottom: 70px;
    }

    button {
        margin-bottom: 100px;
    }
}
